<div class="card w-100">
	<div class="card-body w-100">
		<app-breadcrum [items]="breadCrumb"></app-breadcrum>
		<div class="d-md-flex justify-content-between">
			<h2 class="my-2">View All Categories</h2>
			<button class="btn btn-success my-2" (click)="openAddNewCategoryModal()">Create New Category</button>
		</div>
		<div class="">

			<form [formGroup]="formSearch" (ngSubmit)="search()">
				<div class="row mb-5">
					<div class="col-md-6 col-xs-12">
						<label class="form-label">Category ID: </label>
						<input formControlName="id" type="text" class="form-control" placeholder="Category ID" />
					</div>
					<div class="col-md-6 col-xs-12">
						<label class="form-label">Category Name: </label>
						<input formControlName="name" type="text" class="form-control" placeholder="Category name" />
					</div>
				</div>
				<div class="row mb-5 align-items-end">
					<div class="col-md-6 col-xs-12 justify-content-between align-items-center">
						<div class="filter-btn d-flex gap-3">
							<button autofocus type="submit" class="btn btn-primary"><i class="fa fa-search">
								</i>Search</button>
							<button type="button" class="btn btn-secondary" (click)="resetSearchForm()">
								<i class="fa fa-sync"> </i>
							</button>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th style="width: 5%;"><input type="checkbox" (click)="toggleSelectAll()"></th>
						<th style="width: 10%;">ID</th>
						<th style="width: 15%;">Image</th>
						<th style="width: 30%;">Name</th>
						<th style="width: 20%;">Actions</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="categories?.length > 0">
						<tr *ngFor="let category of categories, index as i">
							<td>
								<input type="checkbox" [(ngModel)]="category.selected">
							</td>
							<td>{{ (paging.page - 1) * paging.page_size + i + 1 }}</td>
							<td>
								<img [src]="category.image" alt="{{ category.name }}" class="thumbnail" width="80"
									height="80" />
							</td>
							<td>{{ category.name }}</td>
							<td>
								<button class="icon-button view-button" (click)="viewCategory(category.categoryId)">
									<i class="bi bi-eye"></i> View
								</button>
								<button class="icon-button edit-button" (click)="editCategory(category.categoryId)">
									<i class="bi bi-pencil"></i> Edit
								</button>
								<button class="icon-button delete-button" (click)="deleteCategory(category.categoryId)">
									<i class="bi bi-trash"></i> Delete
								</button>
							</td>
						</tr>
					</ng-container>
					<ng-container *ngIf="categories?.length <= 0">
						<tr>
							<td colspan="5">No data</td>
						</tr>
					</ng-container>

				</tbody>
			</table>
		</div>
		<app-pagination [paging]="paging" (changePaged)="pageChanged($event)"></app-pagination>
	</div>
</div>

<app-add-new-category #addCpn [modalTitle]="modalTitle" [isVisible]="showAddNewCategoryModal"
	(save)="saveCategory($event)" (close)="closeModal()">
</app-add-new-category>

<app-detail-category #detailCpn [category]="selectedCategory" [modalTitle]="modalTitle" [isVisible]="showDetailCategoryModal"
	(close)="closeModal()">
</app-detail-category>

<app-update-category #updateCpn [category]="selectedCategory" [modalTitle]="modalTitle" [isVisible]="showUpdateCategoryModal"
	(save)="saveCategory($event)" (close)="closeModal()">
</app-update-category>

<app-loading [loading]="loading"></app-loading>
