<div class="card w-100">
	<div class="card-body w-100">
		<app-breadcrum [items]="breadCrumb"></app-breadcrum>
		<div class="d-md-flex justify-content-between">
			<h2 class="my-2">View All Products</h2>
			<button class="btn btn-success my-2" (click)="createItem()">Create New Product</button>
		</div>
		<div class="">

			<form [formGroup]="formSearch" (ngSubmit)="search()">
				<div class="row mb-5">
					<div class="col-md-3 col-xs-12">
						<label class="form-label">Product Name: </label>
						<input formControlName="name" type="text" class="form-control" placeholder="Product name" />
					</div>
				</div>
				<div class="row mb-5 align-items-end">
					<div class="col-md-6 col-xs-12 justify-content-between align-items-center">
						<div class="filter-btn d-flex gap-3">
							<button autofocus type="submit" class="btn btn-primary"><i class="fa fa-search">
								</i>Search</button>
							<button type="button" class="btn btn-secondary" (click)="resetSearchForm()">
								<i class="fa fa-sync"> </i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" (click)="toggleSelectAll()"></th>
						<th>ID</th>
						<th style="min-width: 80px;">Image</th>
						<th style="min-width: 300px;">Name</th>
						<!-- <th>Category</th> -->
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="dataList?.length > 0">
						<tr *ngFor="let item of dataList, index as i">
							<td>
								<input type="checkbox" [(ngModel)]="item.selected">
							</td>
							<td>{{ (paging.page - 1) * paging.page_size + i + 1 }}</td>
							<td>
								<img [src]="item.image" alt="{{ item.name }}" class="thumbnail" width="80"
									height="80" />
							</td>
							<td>{{ item.name }}</td>
							<!-- <td>{{ item.category?.name}}</td> -->
							<td>
								
								<div class="d-flex justify-content-center">
									<button class="icon-button view-button" (click)="viewItem(item.brandId)">
										<i class="bi bi-eye"></i> View
									</button>
									<button class="icon-button edit-button" (click)="editItem(item.brandId)">
										<i class="bi bi-pencil"></i> Edit
									</button>
									<button class="icon-button delete-button" (click)="deleteItem(item.brandId)">
										<i class="bi bi-trash"></i> Delete
									</button>
								</div>
							</td>
						</tr>
					</ng-container>
					<ng-container *ngIf="dataList?.length <= 0">
						<tr>
							<td colspan="5">No data</td>
						</tr>
					</ng-container>

				</tbody>
			</table>
		</div>
		<app-pagination [paging]="paging" (changePaged)="pageChanged($event)"></app-pagination>
	</div>
</div>
<app-loading [loading]="loading"></app-loading>


<app-add-new-product [product]="selected" [modalTitle]="modalTitle" [isVisible]="createModal"
	(save)="saveItem($event)" (close)="closeModal()">
</app-add-new-product>

<app-detail-product [product]="selected" [modalTitle]="modalTitle" [isVisible]="showModal"
	(close)="closeModal()">
</app-detail-product>

<app-update-product [product]="selected" [modalTitle]="modalTitle" [isVisible]="updateModal"
	(save)="saveItem($event)" (close)="closeModal()">
</app-update-product>