<!-- sidebar-admin.component.html -->
<div class="sidebar">
  <nav>
    <ul>
      <li><a routerLink="/admin/dashboard" class="active" routerLinkActive="active" (click)="toggleMobileMenu()">Dashboard</a></li>
      <li><a routerLink="/admin/category" routerLinkActive="active" (click)="toggleMobileMenu()">Category</a></li>
      <li><a routerLink="/admin/product" routerLinkActive="active" (click)="toggleMobileMenu()">Product</a></li>
      <li><a routerLink="/admin/order" routerLinkActive="active" (click)="toggleMobileMenu()">Order</a></li>
      <li><a routerLink="/admin/brand" routerLinkActive="active" (click)="toggleMobileMenu()">Brand</a></li>
      <li><a routerLink="/admin/blog" routerLinkActive="active" (click)="toggleMobileMenu()">Blog</a></li>
    </ul>
  </nav>
</div>
<!-- <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
	<a class="navbar-brand ps-3 ms-5" href="#">ADM</a>
	<div class="sb-sidenav-menu">
		<div class="nav">
			<div class="sb-sidenav-menu-heading">Core</div>
			<a class="nav-link" routerLink="/dashboard">
				Thống kê
			</a>
			<a class="nav-link" routerLink="/admin/blog">
				Blog
			</a>
			<a class="nav-link" routerLink="/admin/category">
				Danh mục
			</a>
			<a class="nav-link" routerLink="/admin/order">
				Đơn hàng
			</a>
			<a class="nav-link" routerLink="/admin/restaurant">
				Nhà hàng
			</a>
			<a class="nav-link" routerLink="/admin/user">
				Người dùng
			</a>
			<a class="nav-link" routerLink="/admin/product">
				Sản phẩm
			</a>
			<a class="nav-link" routerLink="/admin/slide">
				Slide
			</a>

		</div>
	</div>
	<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
				aria-expanded="false">
				<i class="fas fa-user fa-fw"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
				<li>
					<hr class="dropdown-divider" />
				</li>
				<li><a class="dropdown-item">Logout</a></li>
			</ul>
		</li>
	</ul>
</nav> -->
